<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Launch relevant files-->
  <include file="$(find my_robot)/launch/world.launch"/>
  <!-- <include file="$(find ball_chaser)/launch/ball_chaser.launch"/> -->
  <include file="$(find main)/launch/amcl.launch"/>

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find main)/launch/main.rviz"/>

</launch>
